# Template for Environment Variables
# Do not put actual secret keys here.
SECRET_KEY=
OPENWEBUI_API_URL=http://localhost:8080/api/chat/completions
OPENWEBUI_API_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# LINE Login
LINE_CLIENT_ID=
LINE_CLIENT_SECRET=

# Database
DATABASE_URL=
